fastapi==0.136.3
uvicorn==0.48.0
motor==3.7.1
pymongo==4.17.0

bcrypt==5.0.0
cryptography==48.0.0

python-dotenv==1.2.2

langchain-core==1.4.9
langchain-mistralai==1.1.6

requests==2.34.2

pydantic==2.13.4
typing_extensions==4.15.0

starlette==1.2.1

uuid_utils==0.17.0